h3 {
    text-align: center;
    text-decoration: underline;
    color: white;
}



div {
    text-align: center;
    padding: 20px;
    border-right: solid white;
    border-left: solid white;
}

li {
    color: seagreen;
    text-align: left;
}