h3 {
    text-align: center;
    text-decoration: underline;
}



div {
    text-align: center;
    padding: 20px;
    border-right: solid;
    border-left: solid;
}

li {
    color: seagreen;
    text-align: left;
}